/* Structure */
.example-container {
  position: relative;
}

.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-header-cell {
  font-size: 16px;
  color: black;
}
.mat-row:nth-child(even){
  background-color: rgb(219, 219, 219);
}

.mat-row:nth-child(odd){
  background-color: rgb(237, 238, 239);
}
.hideLoader {
  display: none;
}
mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}
.mat-form-field {
  font-size: 16px;
  width: 100%;
}
