/* Structure */
.example-container {
  position: relative;
}

.table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
  width: 95%;
  margin-top: 5%;
  margin-left: 2.5%;
  margin-right: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-header-cell {
  font-size: 16px;
  color: black;
}
.mat-row:nth-child(even){
  background-color: rgb(219, 219, 219);
}

.mat-row:nth-child(odd){
  background-color: rgb(237, 238, 239);
}
.hideLoader {
  display: none;
}
mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}
.mat-form-field {
  font-size: 16px;
  width: 100%;
}
button.mat-fab.mat-accent {
  margin-left: 48%;
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}
button.mat-fab:hover {
  transform: rotate(460deg);
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}
