<div class="table-container">
  <div class="display-1"><h1>New Order</h1></div>
  <button mat-fab color="accent" ><mat-icon (click)="addOrder()">add</mat-icon></button>
  <mat-form-field  color="accent">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort matSortActive="shipOptionId" matSortDirection="asc" matSortDisableClear>

    <!-- PromoId Column -->
    <ng-container matColumnDef="transactionId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Trans ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.transactionId}} </mat-cell>
    </ng-container>

    <!-- Promotion Name Column -->
    <ng-container matColumnDef="merchantId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Merchant ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.merchantId}} </mat-cell>
    </ng-container>

    <!-- Promo Amount Column -->
    <ng-container matColumnDef="qtyOrdered">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.qtyOrdered}} </mat-cell>
    </ng-container>

    <!-- Minimum Order Value Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Order SubTotal Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- Start Promo Date Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <!-- End Promo Date Column -->
    <ng-container matColumnDef="itemId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Item ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.itemId}} </mat-cell>
    </ng-container>

    <!-- Promotion Type Column -->
    <ng-container matColumnDef="taxTotal">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tax Total </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.taxTotal}} </mat-cell>
    </ng-container>

    <!-- Promotion Type Column -->
    <ng-container matColumnDef="shippingTotal">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ship Total </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.shippingTotal}} </mat-cell>
    </ng-container>

    <!-- Promotion Type Column -->
    <ng-container matColumnDef="discountTotal">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Discount Total </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.discountTotal}} </mat-cell>
    </ng-container>

    <!-- Promotion Type Column -->
    <ng-container matColumnDef="orderSubTotal">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Order SubTotal </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.orderSubTotal}} </mat-cell>
    </ng-container>

    <!-- Promotion Type Column -->
    <ng-container matColumnDef="promoAmt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Promo Amt </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.promoAmt}} </mat-cell>
    </ng-container>

    <!-- Promotion Type Column -->
    <ng-container matColumnDef="promoId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Promo ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.promoId}} </mat-cell>
    </ng-container>

    <!-- Promotion Type Column -->
    <ng-container matColumnDef="promotionName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Promotion Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.promotionName}} </mat-cell>
    </ng-container>

    <!-- Promotion Type Column -->
    <ng-container matColumnDef="start">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Start </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.start}} </mat-cell>
    </ng-container>

    <!-- Promotion Type Column -->
    <ng-container matColumnDef="end">
      <mat-header-cell *matHeaderCellDef mat-sort-header> End </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.end}} </mat-cell>
    </ng-container>

    <!-- Promotion Type Column -->
    <ng-container matColumnDef="minimumOrderValue">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Min Order </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.minimumOrderValue}} </mat-cell>
    </ng-container>

    <!-- Promotion Type Column -->
    <ng-container matColumnDef="promotionType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Promo Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.promotionType}} </mat-cell>
    </ng-container>
    <!-- Promotion Type Column -->
    <ng-container matColumnDef="merchantOrderReference">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Reference </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.merchantOrderReference}} </mat-cell>
    </ng-container>
    <!-- Promotion Type Column -->
    <ng-container matColumnDef="orderDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.orderDate}} </mat-cell>
    </ng-container>
    <!-- Promotion Type Column -->
    <ng-container matColumnDef="signature">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Signature </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.signature}} </mat-cell>
    </ng-container>

    <!-- Loader -->
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6"> Loading data...</mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6"> Data no found</mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hideLoader': dataSource!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hideLoader': !(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>

  </mat-table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

</div>

