/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css";*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  padding: 0;
  margin: 0;
  height: 1000px;
  background: -moz-linear-gradient(to bottom, #2e667f 30%,#9f949a 60%,#0d2b4d 100%);
  background: -webkit-linear-gradient(to bottom, #2e667f 30%,#9f949a 60%,#0d2b4d 100%);
  background: linear-gradient(to bottom, #2e667f 30%,#9f949a 60%,#0d2b4d 100%);

}
mat-toolbar {
  height: 8.5em;
  -webkit-box-shadow: 0px 21px 100px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 21px 100px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 21px 100px 0px rgba(0,0,0,0.75);
}
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 7.5em !important;
  background-color: black !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 10px;
}
.logo {
  width: 135px;
  height: 100px;
  background: url('assets/img/nav-sprites.png') 49.5% -2140px no-repeat;

}
.subtitle {
  color: white;
  justify-content: center;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1.1em;
  height: auto !important;
  padding-top: 1em;
  padding-bottom: 1em !important;
}
mat-grid-list {
  width: 70%;
  height: 100vh;
  margin-top: 6%;
  margin-left: 15%;
  margin-right: auto;
}
mat-grid-tile {
  border-radius: 5px;
  -webkit-box-shadow: 0px 13px 38px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 38px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 38px 3px rgba(0,0,0,0.75);
}
mat-grid-tile:hover {
  cursor: pointer;
  margin-top: -15px;

}
.mat-figure:hover {
  background: rgba(0,0,0,0.4);
}
.display-1 {
  display: flex;
  justify-content: center;
  text-transform:uppercase;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.9rem;
}
